<!DOCTYPE html>
{{ $baseURL := .Site.BaseURL }}
<html>
  {{- partial "head_material.html" . }}
  <body>
  {{- partial "header.html" . }}
  <div id="main" class="grid_9">
    <div id="siteinfo" class="grid_2">
      <div id="sidebar">
          <h3>All Topics:</h3>
          <nav>
            {{- range .Site.Taxonomies.topics.Alphabetical }}
              <a href="{{ $baseURL }}/topics/{{ .Name | urlize }}">{{ .Name }}</a>
            {{- end}}
          </nav>
          <h3>Top Site Tags:</h3>
	  {{partial "top_tags.html" . }}
      </div>
    </div>
    <div id="content" class="grid_6">
      <div class="contentlist">
        <h2>All Posts:</h2>
        <ul>
        {{- range .Data.Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a> - <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Mon, Jan 2, 2006"  }}</time></li>
        {{- end }}
        </ul>
      </div>
    </div>
  </div>
  {{- partial "footer.html" .  }}
  </body>
</html>

